@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Quicksand:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply font-body mx-auto;
    max-width: 1728px;
}


.loading {
    background: linear-gradient(90deg, #878787, #eee);
    background-size: 200% 100%;
    animation: loading 3s infinite;
}

@keyframes loading {
    0% {
        background-position: 0% 50%;
    }
    25% {
        background-position: 50% 25%;
    }
    50% {
        background-position: 100% 50%;
    }
    75% {
        background-position: 50% 25%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.btn {
    @apply bg-black hover:bg-gray-800 transition ease-linear duration-200 text-white rounded-2xl;
}
